<div class="contenedorCaracteristica">
  <div class="tituloAbout">
    <h1> AgenDate</h1>
  </div>
  <p>
    AgenDate es una plataforma digital que busca almacenar contacos. La misma se
    implementa mediante las siguientes tecnologias:
  </p>
  <ul>
    <li>NodeJs</li>
    <li>ExpressJs</li>
    <li>MongoDB</li>
    <li>HandleBars</li>
  </ul>
  <p class="parrafoAboutFooter">
    El objeivo es agregar nuevas caractersticas y funcionalidades a este
    proyecto, como: avatar, login, enviar/recibir mensajes, entre otros.
  </p>
</div>