<div class="contenedorFooter">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="spanFooter"> Ayuda </span>
        <a href="#">Centro de ayuda</a>
        <a href="#">Informacion de seguridad</a>
        <a href="#">¿Problemas con tu agenda?</a>
      </div>
      <div class="col-md-4">
        <span class="spanFooter"> Comunidad </span>
        <a href="#">Recomendaciones</a>
        <a href="#">Combatimos la discriminacion</a>
      </div>
      <div class="col-md-4">
        <span class="spanFooter"> Sobre nosotros </span>
        <a href="#">Noticias</a>
        <a href="#">Recomendaciones</a>
        <a href="#">Carta de nuestros fundadores</a>
      </div>
    </div>
  </div>
</div>