<div class="container">
  <div class="row">
    <div class="col-md-2">
      <a href="/"> <h3>Mi Agenda</h3> </a>
    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/note">Note</a>
        </li>
      </ul>
    </div>
  </div>
</div>