<div class="contenedorFormulario">
  <form action="/contact/add" method="POST">
    <div>
      <label class="form-label" for="nombre">Escribe un nombre:</label>
      <input
        class="form-control"
        type="text"
        name="name"
        placeholder="Nombre"
        id="nombre"
      />
    </div>
    <div>
      <label class="form-label" for="apellido">Escribe un apellido</label>
      <input
        class="form-control"
        type="text"
        name="lastName"
        placeholder="Apellido"
        id="apellido"
      />
    </div>
    <div>
      <label class="form-label" for="phone">Escribe un numero de telefono:</label>
      <input
        class="form-control"
        type="text"
        name="phone"
        placeholder="Numero"
        id="phono"
      />
    </div>
    <button class="btn btn-success">agregar</button>
  </form>
</div>